*{
    margin: 0px;
    padding: 0px;

    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/*background*/
.background-title-screen{
    background-image: url(../img/hawaiBackground.jpg);

    background-repeat: no-repeat;
    background-size: cover;
}

.background-main-content{
    background-color: aliceblue;
    padding: 4% 20%;
}


/*Title Screen*/

header{
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(255, 187, 0, 0.9);
}

header nav a{
    color: rgba(129, 60, 11, 0.9);
    padding: 0px 50px;
}

.title-screen{
    text-align: center;
    padding: 15% 0px;

    color: rgba(255, 187, 0, 0.8);
    font-size: xx-large;
}

/*widgets*/

.widgets{
    display: flex;
    justify-content: space-between;

    margin: 4% 0px;
}

.widget-settings-bali{
    height: 200px;
    width: 24%;
    background-image: url(../img/bali.jpg);
    background-size: cover;
    border-radius: 20px;
    transition: transform .2s;
}

.widget-settings-bali:hover{
    transform: scale(1.1);
}

.widget-settings-china{
    height: 200px;
    width: 24%;
    background-image: url(../img/china.jpg);
    background-size: cover;
    border-radius: 20px;
    transition: transform .2s;
}

.widget-settings-china:hover{
    transform: scale(1.1);
}


.widget-settings-hawai{
    height: 200px;
    width: 24%;
    background-image: url(../img/hawai.jpg);
    background-size: cover;
    border-radius: 20px;
    transition: transform .2s;
}

.widget-settings-hawai:hover{
    transform: scale(1.1);
}


.widget-settings-japan{
    height: 200px;
    width: 24%;
    background-image: url(../img/japan.webp);
    background-size: cover;
    border-radius: 20px;
    transition: transform .2s;
}

.widget-settings-japan:hover{
    transform: scale(1.1);
}


.widget-content{
    padding: 20px;    
    color: white;
    font-size: x-large;
}

/*About the company*/

main{
    padding: 20px 20px;
    border-radius: 25px;

    background-color: rgba(255, 255, 255, 0.5);
}

main h2{
    text-decoration: underline;
}

main h1, h2, h3, h4, h5, p{
    color: rgba(129, 60, 11, 0.9);
}

main p{
    font-size: large;
}

/*forms & blogs*/

.background-blog{

    margin: 20px 0px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.background-blog::before {
    border-radius: 20px;
    content: "";
    background-image: url('../img/hawai_blog.jpg');
    background-position: top;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    justify-self: center;
    opacity: 0.2;
}

.blog-text-group{
    margin: 20px;
}

@media (max-width: 500px) {
    .blog-text-group p {
        font-size: 12px;
    }
}

.background-blog .blog-text-group {
    opacity: 1;
}

.blog-title{
    text-decoration: underline;
    color: white;
}

.blog-message{
    margin-top: 20px;
}